Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  modernize-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-naming,
  -readability-identifier-length,
  misc-*,
  -misc-no-recursion,
  -misc-include-cleaner,
  portability-*,
  cppcoreguidelines-pro-type-member-init,

HeaderFilterRegex: '^(src|tests)/.*'

WarningsAsErrors: '*'

FormatStyle: file
